.swatch-values {
  margin-top: 0.75rem;
  position: relative;
  text-align: right;
  margin-right: 20px;
}

.load-instagram-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12rem;
    height: 8rem;
    margin-top: -4rem;
    margin-left: -6rem;
    border: none;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    border-radius: 20%;
    color: #777;
    background-color: #fdf485;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}
.load-instagram-button:hover {
    -webkit-transform: scale(1.1,  1.1);
    -moz-transform: scale(1.1,  1.1);
    -ms-transform: scale(1.1,  1.1);
    -o-transform: scale(1.1,  1.1);
    transform: scale(1.1,  1.1);
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    transition: transform 0.2s;
}
.load-instagram-button:active {
    -webkit-transform: scale(0.9,  0.9);
    -moz-transform: scale(0.9,  0.9);
    -ms-transform: scale(0.9,  0.9);
    -o-transform: scale(0.9,  0.9);
    transform: scale(0.9,  0.9);
}